@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200..1000&display=swap');
 
*{
    font-family: "Nunito Sans";
}

.info {
  width: calc(100vw - 140px);
  margin-left: 70px;
  margin-top: 70px;
  flex-direction: column;
  margin-bottom: 30px;
}
 
.info-container {
  display: flex;
  flex-direction: row;
}
 
.info-lef-col-md-4 {
  width: 407px;
  height: 132px;
}
.gradient-text1 {
  width: 150px;
  height: 30px;
  font-family: 'Nunito Sans';
  background: linear-gradient(1.04deg, #C835F8 0%, #15B0F8 99.15%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 600;
  font-size: 28px;
}
.info-lef-col-md-4 p {
  width: 407px;
  height: 132px;
  font-family: "Nunito Sans";
  font-weight: 400;
  text-align: left;
  font-size: 14px;
  color: #52525b;
  margin-top: 24px;
  line-height: 22px;
}
 
.icons {
    width: 148px;
    height: 28px;
    display: flex;
    gap: 12px;
    cursor: pointer;
}
 
.icons img{
    width: 28px;
    height: 28px;
}

.info-right-col-md-8 {
  display: flex;
  flex-direction: row;
}
.infoslot-1-col-md-4,
.infoslot-2-col-md-4 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.section1-col-md-2,
.section2-col-md-2,
.section3-col-md-2,
.section4-col-md-2 {
  margin-top: 10px;
  display: flex;
}
.section1-col-md-2 {
  margin-left: 120px;
  flex-direction: column;
}
.section2-col-md-2{
  margin-left: 120px;
  flex-direction: column;
}
.section3-col-md-2 {
  margin-left: 120px;
  flex-direction: column;
}
.section4-col-md-2 {
  margin-left: 120px;
  flex-direction: column;
}
 
.info-right-col-md-8 h5 {
  font-size: 13px;
  letter-spacing: 1px;
  color: #2563EB;
}
 
.info-right-col-md-8 a {
  text-decoration: none;
  color: #52525b;
  margin-top: 25px;
  font-weight: 400;
  font-size: 14px;
}

@media (max-width: 360px) {
  .info {
    width: 360px !important;
    margin-top: 30px;
    margin-left: 0px;
  }

  .info-container {
    flex-direction: column;
    align-items: center;
  }

  .info-lef-col-md-4 {
      display: none;
  }

  .info-right-col-md-8 {
    width: 360px;
    flex-direction: column;
    margin-left: 0px;
  }


  .infoslot-2-col-md-4 {
    flex-direction: row;
    margin-left: 0px;
    margin-top: 20px;
    justify-content: space-between;
    width: 100%;
  }

  .section1-col-md-2 {
    width: 100px;
    height: 210px;
    font-size: 14px;
    font-weight: 400;
    margin-left: 15px;
    margin-right: 54px;
    flex-direction: column;
  }

  .section2-col-md-2 {
    width: 158px;
    height: 210px;
    margin-right: 50px;
    margin-left: 0px;
  }

  .section3-col-md-2 {
    margin-left: 15px;
  }

  .section4-col-md-2 {
    margin-left: 0px;
    margin-right: 50px;
  }

  .icons {
    margin-top: 20px;
    margin-left: 16px;
    margin-bottom: 20px;
    justify-content: center;
  }
}
@media (min-width: 361px) and (max-width: 768px) {
  .info {
    width: 734px;
    margin-top: 50px;
    margin-left: 34px;
    left: 0px;
  }

  .info-container {
    flex-direction: row; 
    align-items: center; 
  }
  
  .info-lef-col-md-4 {
    display: none;
}

  .info-right-col-md-8 {
    width: 690px;
    margin-left: 0;
  }

  .infoslot-2-col-md-4 {
    flex-direction: row;
    margin-left: 0;
    justify-content: space-between;
    width: 100%;
  }
  .section1-col-md-2 {
    width: 130px;
    margin-left: 20px;
  }
  .section2-col-md-2 {
    margin-left: 30px;
    width: 150px;
}
.section3-col-md-2 {
  margin-left: 30px;
  width: 150px;
}
.section4-col-md-2 {
  margin-left: 20px;
  width: 150px;
}

  .icons {
    margin-left: 15px;
    margin-top: 30px;
    margin-bottom: 20px;
    justify-content: center;
  }
}

