@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Outfit:wght@100..900&family=Reem+Kufi:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Outfit:wght@100..900&family=Reem+Kufi:wght@400..700&display=swap');

.abt-img {
    width: calc(98.9vw );
    height: 313px;
    filter: blur(100%);
    opacity: 80;
}

@media (max-width: 360px) {
.abt-img {
    width: 360px;
    height: 86px;
    background: #FFFFFF33;
}
}

@media (min-width: 361px) and (max-width: 768px) {
.abt-img {
    width: 768px;
    height: 162px;
    background: #FFFFFF33;
}  
}

